body {
  margin: 0;
  padding: 0;
  background-color: rgba(34, 33, 44, 1);
  font-family: "Merriweather Sans", sans-serif;
}

.container {
  display: flex;
  width: 100%;
  height: auto;
}
aside {
  display: flex;
  flex-direction: column;
  margin-left: 3%;
  margin-right: 5%;
  margin-top: 2%;
  width: 40%;
}
main {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-right: 5%;
  margin-top: 2%;
}
.Blackgroud {
  background-color: rgba(48, 47, 61, 1);
  border-radius: 20px;
  color: #837e9f;
  box-shadow: 5px 5px 4px black;
}
.space {
  margin-bottom: 10%;
}
.space2 {
  margin-bottom: 5%;
}
.perfil {
  font-size: 100%;
  font-weight: bold;
  text-align: center;
  padding: 2% 4% 1%;
}
#FotoPerfil {
  width: 50%;
  height: auto;
  max-width: 128px;
  min-width: 60px;
  border-radius: 100%;
  border: solid #00ff00 2px;
  padding: 5px;
  margin-bottom: 10%;
  box-shadow: 5px 5px 8px black;
}

.perfil p {
  font-weight: lighter;
  font-size: 80%;
  min-width: 13px;
  margin-bottom: 15%;
}
.info {
  padding: 7%;
}
.informação {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 5%;
}

.informação img {
  align-items: center;
  width: 9%;
  max-width: 25px;
  min-width: 18px;
  filter: invert(54%) sepia(23%) saturate(399%) hue-rotate(209deg)
    brightness(90%) contrast(85%);
  margin-right: 10%;
}

.tecnologia {
  padding: 0% 7% 7%;
}
h4 {
  font-size: 20px;
  font-weight: bold;
}
.tec {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card {
  margin: 2%;
  width: 86px;
  height: 24px;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: #cb92b1;
  border-radius: 36px;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 5px 5px 4px black;
}

.exp {
  padding: 0% 7% 7%;
}
.exp p {
  font-weight: 500;
  font-size: 12px;
}
#light {
  font-weight: 300;
}
.projeto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0% 3%;
}
.projeto a {
  text-decoration: none;
  color: #837e9f;
}
.projeto2 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}
.projeto2 div {
  width: 45%;
  height: auto;
  padding: 2%;
}
.projetoChild {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.projetoChild img {
  width: 6%;
  min-width: 17px;
  margin: 2%;
  filter: invert(54%) sepia(23%) saturate(399%) hue-rotate(209deg)
    brightness(90%) contrast(85%);
}
#java1 {
  display: flex;
  width: 85px;
  height: 2%;
  margin-left: 30%;
  justify-content: center;
  align-items: center;
}
.final {
  display: flex;
  padding: 10px;
  align-items: center;
}
.final img {
  width: 50%;
  height: auto;
  max-width: 128px;
  min-width: 60px;
  border-radius: 100%;
  border: solid #00ff00 2px;
  padding: 5px;
  box-shadow: 5px 5px 4px black;
  margin: 20px;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  aside {
    width: 100%;
  }
}
